<div class="container">
  <div class="row ">
    
    <div class="col-md-3 side_bar">
      <img class="logo-img" src="*/assets/3vot-logo-white.png"/>
      <img class="profile-img" src="*/assets/3vot-profile-img.png" alt="">
    </div>

    <div class="col-md-7 body">
        <h2 href="" class="title" style="cursor:text">Salesforce CRUD Template App<br/>
        <small>This is a Salesforce.com Template app, designed to be deployed as a Visualforce Page</small></h2>
      
      <div class="body_content panel">
        <div class="panel-heading"><div class="panel-title">List of Accounts</div></div>
        <div class="panel-body">
          <ul class="list-group accounts-list"><li>Loading Accounts...</li></ul>
      </div>
    </div>
  </div>
</div>

  
  
  
  
</div>
    
